
<sectionid="starterscreen">
	<button type="button" id="startgame">Click Me!</button>
<section>

<section class="stage game" id="gameplay">
	<h1>hello</h1>
</section>

<section class="stage gameover"></section>



<script type="text/javascript">

$('#startgame').click(enterGame);

function enterGame(){
	$("#starterscreen").remove();
};

</script>