<div id="starter_page">
	<div>
		<h1>Curious about what our media coverage looks like in the current year? Last year? 100 years ago? See how good your guess is by comparing different terms or topics of interest using the New York Times database!</h1>
		<p id="instruction">Instructions: Enter however many search words of interest. Launching the game will compare two search words at a time. Choose whichever topic you think NYT has covered more. Try to make it all the way to the end to win!</p>
	</div>
	
	<br><br>

	<div id="entergame">
		<a id= "startgame" href="/game" class="button">Start Game</a>
	</div>

</div>