


<div id="startscreen" ">

<button id="startbutton">start game</button>
</div>

<div>
    <h1>hello</h1>
</div>

</body>
</html>



<script>
$("#startbutton").click(startGame);

function startGame(){
    $("#startscreen").remove();
};

</script>